body {
    background-color: hsl(212, 45%, 89%);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
}

.conte{
   margin-top: 10%;
   height: 500px;
   width: 350px;
   border-style: solid;
   padding: 10px;
   background-color: white;
   border-color: white;
   border-radius: 10px;
   margin-bottom: 10%;
   font-size: 14px;
   
   
}

.conte img {
    height: 300px;
    width: 300px;
}